---
layout: 'base.njk'
title: 'All Recipes'
---

<section id="all-recipes">
        <div class="global-container">
          <div class="card-wrapper">
          {%- for post in collections.post | reverse -%}
          <a href="{{ post.url }}">
            <div class="sticky-card card-shadow" stlye="background-color; {{post.data.color}}">
              <div class="card-description">
                <h5>{{ post.data.title }}</h5>
                <p>{{ post.data.description }}</p>
              </div>
              <div class="card-image">
                <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
              </div>
            </div>
          </a>
          {%- endfor -%}
          </div>
        </div>
</section>